* {
    font-family: "Source Sans Pro";
}

body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    box-sizing: border-box;
}

.nav {
    background-color:  #A9BFE4;  
  /*   min-width: 760px; */
   
    
}

.container {
    margin:0 auto;
}
.navigation__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;  
}

.logo {
    display: flex;
    align-items: center;
    min-width: 136px;
    margin:0;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 450px;
    list-style-type: none;
    margin:0;
}
   
        .navbar__item a {
            text-decoration: none;
            color: #FFFFFF;
        }

        .navbar__item a:hover {
            color:#FFC2C7;

        }
.nav__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    min-width: 55px;
    margin-left: 49px;

}
.header {
    min-height: 455px;
   /*  min-width: 760px; */
    
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 87px;
}

.header__title  {
    padding-top: 160px;
    padding-left: 140px;

}

.header__title .header1 {
    margin:0;
    font-weight: 900;
    font-size: 38px;
    color: #351F21;
   
}

.header__title p {
    font-weight: 400;
    font-size: 14px;
    color: #351F21;

}

.header__btn {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 17px;
    
}

.btn_basket, .btn_catalog {
    width: 130px;
    height: 30px;
}

.btn_basket {
    background: #FFC2C7;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #ffffff;
    
}

.btn_basket:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.btn_catalog  {
    width: 132px;
    height: 32px;
    border: 2px solid #FFC2C7;
    border-radius: 50px;
    color: #989EC3;
}

.btn_catalog:hover {
    box-shadow: 0px 3px 10px #FFC2C7;
}
.header__images {
    padding-top: 70px;
}

  /*   .elipse_1 {
        
        min-width:270px;
     
        min-height: 310px;
        margin-top: 25px;
     
        border-radius: 100%;
        border: 2px solid #A9BFE4;
        padding-top: 70px;
        padding-left: 25px;
  
    } */
    .elipse {
        position: relative;
    }
    .elipse img {
        position:absolute;
        display: block;
        width: 270px;
        height: 310px;
        margin:0 auto;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;

    }
.subheader {
    /* min-height: 405px; */
    /* min-width: 760px; */
    overflow-x: hidden; /* new */
}
.container {
    margin: 0 auto;
    
   
}

.subheader__items__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
    .subheader__item {
        min-width: 210px;
        height: 145px;
        
    }
        .item_1 {
            background-image: url("../img/section_2/bouquets.png");
        }
        .item_2 {
            background-image: url("../img/section_2/natural_flowers.png");
        }
        .item_3 {
           
            background-image: url("../img/section_2/own_bouquet.png");
        }
        .subheader__btn {
            margin-top: 109px;
            margin-left: 45px;
            width: 130px;
            height:30px;
            background-color: #A9BFE4;
            color: #ffffff;
            border-radius: 5px;
            border: none;
        }
        .subheader__btn:hover {
            color: #FFC2C7;
        }
.subheader__wrapper {
    /* min-height:230px; */
    display: flex;
    justify-content: space-between;
    /* min-height: 270px; */
    margin-top: 50px;
  
   
}

.subheader__descr {

}

    h1 {
        font-weight: 600;
        font-size: 24px;
       
    }

    p {
        padding-top: 18px;
        font-weight: 400;
        font-size: 14px;
        
    }

    p {
        padding-top: 11px;
        font-weight: 400;
        font-size: 14px;
        
    }

.subheader__pic_1 {
    position: relative;
    z-index: 1;
    
}

.subheader__pic_1 img {
    position: absolute;
    transform: translateY(27%);
    

}

.subheader__pic_2 {
    position: relative;
    width: 290px;
    height: 229px;
  
}

.subheader__pic_2 img {
    position:absolute;
    display: block;
    min-width: 290px;
    min-height: 229px;
    transform: translateX(10%);
}


.features {
    min-height: 156px;
   /*  min-width: 760px; */
    background-color:rgba(169, 191, 228, 0.3);
    overflow-x: hidden; /* new */
}

.features .container {
    min-height: 156px;
    margin-right: 105px;
    margin-left: 105px;
}

.features__wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
    min-height: 156px;
}

.features__item {
    width: 150px;
    height: 75px;
    
}

.features__item img {
    padding-left: 40px;
}
.features__item__paragraph {
    text-align: center;
    font-weight: 400;
    font-size: 11px;
}
.features__item__paragraph_4 {
    transform: translateY(60px);
    text-align: center;
    font-weight: 400;
    font-size: 11px;

}
.features__item__pic_4 {
    position: relative;
}
.features__item__pic_4 img {
    display: block;
    position: absolute;
    transform: translateY(-8px);

}
.features__title {
    padding-top:15px;
    font-weight: 400;
    font-size: 16px;
    color: #989EC3;
}


.catalog {
    min-height: 744px;
    /* min-width: 760px; */

}

.catalog .container {
    padding: 47px 64px 43px 64px;
}

.header1 {
    margin-bottom: 29px;
    margin-left: 68px;
}

.catalog__row__1 {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.catalog__row__2 {
    margin-top: 17px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.catalog__item {
    min-width: 200px;
    min-height: 290px;
    box-shadow: 0px 4px 8px #FFC2C7;
  
}

.catalog__item:hover {
    box-shadow: 0px 4px 15px #FFC2C7;
}


.catalog__item .catalog__pic {
    width: 200px;
    height: 200px;
}

.catalog__item p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.catalog__price p {
    padding-top:0;
}

.catalog__btn {
    display: block;
    margin:0 auto;
    width: 132px;
    height: 32px;
    border: 2px solid #FFC2C7;
    border-radius: 50px;
    color: #989EC3;
    margin-bottom: 13px;
}

.catalog__btn:hover {
    box-shadow: 0px 3px 10px #FFC2C7;
}

.catalog__pagination {
    width: 176px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 16px auto 0 auto;
}
.feedback {
    
    min-height: 690px;
   /*  min-width: 760px; */
    background-color: rgba(169, 191, 228, 0.2);
    overflow-x: hidden; /* new */
}

.feedback .container {
    padding:0;
}


.feedback_header {
    font-weight: 400;
    font-size: 24px; 
    color: #351F21;   
}

.feedback1_photo img {
    display: block;
    width:100%;
}

.feedback2_photo img {
    display: block;
    width:100%;
}

.feedback_row_title {
    padding-top: 24px;
}
.feedback1_row {
    margin-top: 23px;
  
}

.feedback2_row {
    margin-top: 40px;
}


.feedback__pagination {
    margin-top: 10px;
}

.feedback1_descr, .feedback2_descr {
    font-weight: 400;
    font-size: 14px;
    color: #351F21;
}

span {
    font-weight: 600;
    font-size: 13px;
    color: #989EC3;
}

     
.feedback__form input[type = "text"] {
    min-width: 631px;
    min-height: 29px;
    border: none;
    font-weight: 400;
    font-size: 12px;
    color: #ACACAC;
    border-radius: 10px;
    
}

input[type = "text"]:focus {
    outline: none;
    border-color: 5px solid #FFC2C7;
    box-shadow: 3px 3px 4px 0 #FFC2C7;
}

textarea[name="message"] {
    min-width: 631px;
    min-height: 94px;
    border: none;
    font-weight: 400;
    font-size: 12px;
    color: #ACACAC;
    border-radius: 10px;
}
textarea[name="message"]:focus {
    outline: none;
    border-color: 5px solid #FFC2C7;
    box-shadow: 3px 3px 4px 0 #FFC2C7;
}


input[type="submit"] {
    margin-top: 15px;
    margin-bottom: 35px;
    min-width: 117px;
    min-height: 29px;
    background: #FFC2C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #ffffff;
    text-align: center;
    border-radius: 10px;
}

input[type="submit"]:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

label {
    padding-top:49px;
    font-weight: 400;
    font-size: 20px;
    color: #351F21;
}

.delivery {
    min-height: 470px;
}



.delivery__title {
    margin-top:44px;
    font-weight: 400;
    font-size: 24px;
}

.delivery__steps__wrapper1 {
    margin-top: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delivery__steps__wrapper2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delivery__step {
    width: 200px;
   

}


.delivery__step_elipse {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px #FFC2C7;
    margin:0 auto;
    
   
}

.delivery__step_elipse:hover {
    box-shadow: 3px 3px 10px 4px #FFC2C7;
}
.delivery__step_elipse span {
    display: block;
   /*  width:65px; */
    height:0px;
    font-weight: 400;
    font-size: 40px;
    color: #A9BFE4;
    backdrop-filter: blur(4px);
    text-align: center;
    
}

.delivery__step_descr {
    margin-top: 15px;
    font-weight: 400;
    font-size: 13px;
    color: #351F21;
    text-align: center;
    
}


.footer {
    min-height: 120px;
    background-color:  #A9BFE4;
}

.footer__logo {
    margin:0 auto;
}

.footer__logo img {
    display: block;
    margin: 0 auto;
}

.footer__details {
    list-style-type: none;
}

.footer__wrapper__elements{
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.footer__wrapper__title1, .footer__wrapper__title2, .footer__wrapper__title3 {
    width: 100%;
    width: 324px;
    height: 112px;
    margin-top:0 auto;
   /*  text-align: center; */
}

.footer__title h2 {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
   /*  text-align: center; */
}

.footer__details  {
    font-weight: 300;
    font-size: 11px;
    color: #FFFFFF;
    padding:0;
}

.footer__details li > a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer__details li > a:hover {
    color:#FFC2C7;
}

.footer__form {
    width:270px;
    width:100%;
    display: flex;
    align-items: center;
}


.footer__form  input[type="email"] {
    margin: 0 auto;
    width:170px;
    height:25px;
    background: #FFFFFF;
    font-weight: 300;
    font-size: 10px;
    color: #ACACAC;
    border-radius: 50px;
    border:none;
}

.footer__form  input[type="email"]:focus {
   outline: none;
}

.footer__btn_subscribe {
    margin: 0 auto;
    position:relative;
    left: -30px;
    width:89px;
    height:25px;
    background:  #FFC2C7;
    color: #ffffff;
    font-weight: 400;
    font-size: 10px;
    border-radius: 50px;
    border:none;
    margin-right: 20px;
}

.footer__wrapper__connect {
      width: 270px;
      
  }
.footer__socialmedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85px;
    margin: 0 auto;
    margin-top:13px;
    
}

.footer__socialmedia img {
    display: block;
}

.copyright {
    margin:0 auto;
    font-weight: 300;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
}
 


@media (min-width: 964px) {
    .subheader__pic_2 img {
        position:absolute;
        display: block;
        min-width: 290px;
        min-height: 229px;
      
       /*  margin:0 auto; */
        transform: translateX(20%);
    }
}


@media (min-width: 1136px) {
    .subheader__pic_2 img {
        position:absolute;
        display: block;
        min-width: 290px;
        min-height: 229px;
      
       /*  margin:0 auto; */
        transform: translateX(40%);
    }
}

@media (min-width: 1340px) {
    .subheader__pic_2 img {
        position:absolute;
        display: block;
        min-width: 290px;
        min-height: 229px;
        transform: translateX(60%);
    }
}


@media (max-width: 768px) {

    .nav {
       
        min-width: 350px;
       /*  max-height: 70px; */
        
    } 

    .navbar__wrapper {
        display: flex;
    }

    .navbar {
        display: none;
        /* min-width: 310px;
        padding:0;
        font-size: 14px; */
    }
    .logo {
        display: none;
        position: relative;
        margin: 0 auto;
       
    }
    .logo img {
        display: block;
        width:100px;
        height: 50px;
    }

    .nav__icons {
        display: none;
        position: relative;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        min-width: 45px;
        
    
    }

    .header__title  {
        padding-top: 135px;
        padding-left: 125px;
    
    }

    .header__title .header1 {
        margin:0;
        font-weight: 500;
        font-size: 25px;
        color: #351F21;
       
    }
    
    .header__title p {
        font-weight: 300;
        font-size: 12px;
        color: #351F21;
    
    }
    
    .subheader__pic_1 {
        min-width: 200px;
        min-height: 121px;
    }
    .subheader__pic_1 img {
        display: block;
        position: absolute;
        transform: translateY(27%);
    
    }
    .subheader__descr {

    }
    
        h1 {
            font-weight: 600;
            font-size: 18px;
           
        }
    
        p {
            padding-top: 18px;
            font-weight: 300;
            font-size: 10px;
            
        }
    
        p {
            padding-top: 11px;
            font-weight: 300;
            font-size: 10px;
            
        }
    
    .features {
        margin:0 auto;
    }
    .features .container {
        min-height: 156px;
        margin:0 auto;
        }
    
    .subheader__item {
            min-width: 150px;
            height: 145px;
            
        }
    .subheader__btn {
        margin-top: 109px;
        margin-left: 45px;
        width: 80px;
        height:30px;
        background-color: #A9BFE4;
        color: #ffffff;
        border-radius: 5px;
        border: none;
    }

    .catalog .container {
        padding:0;
    }

    .catalog__item {
        min-width: 150px;
        min-height: 250px;
        box-shadow: 0px 4px 8px #FFC2C7;
      
    }

    .catalog__item .catalog__pic {
        width: 150px;
        height: 200px;
      
    }

    .catalog__item .catalog__pic img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 200px;
    }

    .catalog__row__1 {
        display: flex;
       /*  justify-content: space-around; */
        align-items:center;
    }
    
    .catalog__row__2 {
        margin-top: 17px;
        display: flex;
     /*    justify-content: space-around; */
        align-items:center;
    }

    .catalog__item p {
        text-align: center;
        font-weight: 300;
        font-size: 12px;
    }

    .feedback__form input[type = "text"] {
        margin-left: 10px;
        min-width: 400px;
        min-height: 29px;
        border: none;
        font-weight: 300;
        font-size: 12px;
        color: #ACACAC;
        border-radius: 10px;
        
    }

    textarea[name="message"] {
        margin-left: 10px;
        min-width: 400px;
        min-height: 94px;
        border: none;
        font-weight: 300;
        font-size: 12px;
        color: #ACACAC;
        border-radius: 10px;
    }

    input[type="submit"] {
        margin-left:10px;
    }

    .feedback__pagination {
        display: none;

    }
   
    #menu {
        z-index: 2;
      }
      
      #menu-bar {
        width: 30px;
        height: 20px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
      }
      
      .bar {
        height: 5px;
        width: 100%;
        background-color: #fff;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
      }
      
      #bar1 {
        transform: translateY(-4px);
      }
      
      #bar3 {
        transform: translateY(4px);
      }

      .navbar {
        transition: 0.3s ease;
        display: none;
      }
      
      /* added */
      .navbar ul {
        padding: 0 5px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        min-width: 150px;
        min-height: 200px;
     
      }
      
      .navbar li {
        list-style: none;
        padding: 6px 0;/* changed from 14px to 6px */


      }
      
      .navbar li a {
        color: white;
        font-size: 20px;
        text-decoration: none;
      }
      
      .navbar li a:hover {
        font-weight: bold;
        color: #fff;
      }

      .change {
        display: block;
      }
      
      .change .bar {
        background-color: white;
      }
      
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
      
      .change #bar2 {
        opacity: 0;
      }
      
      .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
      }


      .menu-bg, #menu {
        top: 0;
        left: 0;
        position: absolute;
      }

      .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        background: radial-gradient(circle, #FFC2C7, #FFC2C7);
        border-radius: 50%;
        transition: 0.3s ease;
      }

      .change-bg {
        width: 345px;
        height: 380px;
        transform: translate(-60%,-30%);
      } 
    
}


    
    

        